@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

$darkColor: #0d1d2a;
$clearColor: #e1ad62;
$gray: #a6acbe;
$white: #ffffff;

:global(#app) {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  justify-content: space-between;
}

.navBarContainer {
  display: flex;
  justify-content: space-between;

  & .navBarText {
    display: flex;
    align-items: center;
    margin-left: 2.25rem;
  }

  & .navButton {
    color: $darkColor;
    align-self: center;
    margin-left: 2rem;

    &.selected {
      color: $clearColor;
    }
  }

  & .languageButtons {
    margin-left: 3rem;
    display: flex;

    & .languageButton {
      font-size: 12px;
      font-weight: 400;
      text-transform: none;
      min-width: unset;
      color: $gray;

      &.selected {
        font-weight: 700;
        color: $darkColor;
      }
    }
  }
}

.pageFooter {
  color: $white;
  background-color: $clearColor;
  padding: 1.5rem;
  & :global(.MuiContainer-root) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & img {
    max-height: 2rem;
  }
}

.heroImage {
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  max-height: 38rem;

  & .heroDarkArea {
    padding: 4.5rem;
    background-color: $darkColor;

    & h1 {
      color: $clearColor;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 4rem;
      line-height: 114.8%;
      margin: 0;
    }

    & h2 {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 1.875rem;
      line-height: 132.8%;
      color: $white;
      margin-top: 2rem;
    }
  }
}

.contactUs {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;

  & h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 132.8%;
    color: $darkColor;
    margin-bottom: 2.5rem;
  }

  & h4 {
    margin-bottom: 3rem;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 132.8%;
    color: $darkColor;
  }

  & .address {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 21px;
    color: $darkColor;
    margin-bottom: 2rem;
  }

  & .mapContainer {
    max-height: 315px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid $darkColor;
  }
}

.imageGallery {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;

  & h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 132.8%;
    color: $darkColor;
    margin-bottom: 2.5rem;
    text-align: center;
  }

  & .imageList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    & > div {
      background: rgba(0, 0, 0, 0);
      padding: 0.5rem;
      box-sizing: border-box;
      transition: all 125ms linear;
      & img {
        width: 100%;
        cursor: pointer;
      }

      &:global(.selected) {
        position: absolute;
        background: rgba(0, 0, 0, 0.68);
        left: 0;
        top: 0;
        right: 0;
        width: unset !important;
        padding: 5vh 5vw;

        & img {
          height: 90vh;
          width: unset;
          margin: 0 auto;
          box-shadow: 2rem 2rem 2.5rem rgba(0, 0, 0, .15);
        }
      }
    }
  }
}
