.pages {
  margin: 0;
  flex-grow: 2;
  background: white;
  padding: 1rem 0;

  .greenText {
    color: green;
  }

  .right {
    float: right;
  }
}

.loginPage {
  height: 100%;

  & .externalSignIn {
    display: flex;
    margin: 1rem -.5rem 0 -.5rem;

    & > button {
      margin: 0.5rem;
      padding: 1rem;

      &.google {
        color: #DF3E30;
      }

      &.facebook {
        color: #1877F2;
      }

      &.twitter {
        color: #1C9CEA;
      }
    }
  }

  & :global(.MuiGrid-container) {
    height: 100%;

    & .paperLeft {
      height: 100%;
      border-radius: 1rem;
      align-items: center;
      display: flex;
      padding: 1rem;
      box-sizing: border-box;
      font-size: 2rem;
      color: rgba(0, 0, 0, 0.87);
      border: 1px solid #0000001f;
      box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    }
  }

  & .loginBox {
    width: 50%;
    margin: 2rem auto;
    color: rgb(33, 43, 54);

    & :global(.MuiTypography-h3) {
      margin: 0px 0px 8px;
      font-weight: 300;
      font-size: 2rem;
      line-height: 1.5;
    }

    & :global(.MuiTypography-body1) {
      color: rgb(99, 115, 129);
    }

    & .separatorLine {
      text-align: center;
      padding: 1rem;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      &::before {
        position: absolute;
        content: ' ';
        height: 50%;
        width: 45%;
        left: 0;
        top: 0;
        z-index: -1;
        border-bottom: thin solid rgba(145, 158, 171, 0.24);
      }

      &::after {
        position: absolute;
        content: ' ';
        height: 50%;
        width: 45%;
        left: auto;
        right: 0;
        top: 0;
        z-index: -1;
        border-bottom: thin solid rgba(145, 158, 171, 0.24);
      }
    }

    & .flexLine {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 1rem 0;
    }
  }
}
