body {
  background-color: #dddbd1;
  background-image: linear-gradient(180deg,#dddbd1,#d2dbdc);
}

:global(#app) > div:nth-child(1):after {
  position: fixed;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 127px;
  content: "";
  background: #bf1e2d;
}

.whatsappPaper {
  top: 19px;
  width: 1396px;
  height: calc(100% - 38px);
  margin: 0 auto;
  box-shadow: 0 1px 1px 0 rgba(var(--shadow-rgb),.06),0 2px 5px 0 rgba(var(--shadow-rgb),.2);
  position: relative;
  display: flex;
  .sidebar {
    flex: 30%;
    overflow: auto;
  }
  
  .main {
    flex: 70%;
    background: #c5c5c5;
    padding: 1rem 3rem;
    display: flex;
    flex-direction: column;

    & > div:nth-child(1) {
      flex-grow: 1;
      overflow: auto;
    }

    & > div:nth-child(2) {
      margin: 0 -3rem -1rem;
      padding: 1rem;
      display: flex;
    }
  }

  .lineTo {
    margin: 3px;
  }

  .lineFrom {
    margin: 3px;
    text-align: right;
  }

  .to {
    background: #fff;
    padding: 5px;
    width: auto;
    display: inline-block;
    border-radius: 0 5px 5px 5px;
  }

  .from {
    background: #dcf8c6;
    padding: 5px;
    width: auto;
    display: inline-block;
    border-radius: 5px 0 5px 5px;
  }
}


.tinderPictureHolder {
  margin: 0 auto;
  background: white;
  display: flex;
  flex-direction: column;
  width: 375px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 1px 5px 1px #0000001f;

  .tinderPicture {
    width: 375px;
    height: 400px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    overflow: hidden;
    align-items: center;
    & picture {
      & img {
        min-height: 100%;
      }
    }
  }

  .tinderButtons {
    display: flex;
    justify-content: space-evenly;

    button {
      color: red;
      margin: 1rem;
      border: 5px solid #0000001f;
    }
  }


}
